:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --bg-color: #dfe1e6;
    --bg-color2: #1b1d1f;
    --text-color1: #4a4a4a;
    --text-color2: #fcffff;
    --border-color: #adadad92;
    --form-colors: #9e9e9e;
    --poppins-font: "Poppins", sans-serif;
    --transition1: all ease .3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: var(--poppins-font);
    background-color: var(--bg-color);
}

img {
    width: 100%;
}

/* Custom class */
.container {
    width: 1100px;
    margin: 80px auto;
}

.reg-section {
    display: flex;
    background-color: var(--white-color);
    text-align: center;
}

/* Left Container */
.left-container {
    width: 50%;
    color: var(--text-color1);
    padding: 100px 90px;
}

.left-container .heading1 {
    font-size: 2rem;
}

.left-container .p1 {
    color: #adadad;
    font-size: .8rem;
}

.left-container .btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid var(--border-color);
    padding: 10px 0;
    margin: 10px 0;
    background-color: var(--white-color);
    color: var(--text-color1);
    font-size: .8rem;
    font-weight: 500;
    transition: var(--transition1);
}

.left-container .btn1:hover {
    background-color: #adadad92;
}

.left-container .btn1 img {
    width: 15px;
}

/* Divider / Or container */
.left-container .divider {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 14px 0;
}

.left-container .divider span {
    color: #9e9e9e;
    font-size: .8rem;
}

.left-container .divider::before,
.left-container .divider::after {
    content: "";
    flex: 1;
    border-top: 1px solid var(--border-color);
}

/* Registration form */
.left-container form {
    text-align: left;
}

.left-container form div {
    position: relative;
}

.left-container form div label {
    color: var(--black-color);
    font-size: .8rem;
    font-weight: 500;
}

.left-container form div input[type="text"],
.left-container form div input[type="email"],
.left-container form div input[type="password"] {
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 12px 15px;
    color: var(--form-colors);
    margin: 5px 0;
}

.left-container form div input[type="checkbox"] {
    accent-color: var(--form-colors);
}

.left-container form div input::placeholder {
    color: var(--form-colors);
}

.left-container form div input:focus {
    outline: none;
}

.left-container form div a {
    color: var(--form-colors);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateX(-50%);
    transition: var(--transition1);
}

.left-container form div a:hover {
    color: var(--black-color);
}

/* Registration Button */
.left-container form .reg-btn {
    width: 100%;
    margin: 20px 0 10px;
    padding: 14px 0;
    font-weight: 600;
    border: none;
    background-color: var(--bg-color2);
    color: #dfe1e6ce;
    cursor: pointer;
}

.left-container .signin-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: .8rem;
    color: var(--form-colors);
}

.left-container .signin-container a {
    color: var(--black-color);
    font-weight: 600;
}

/* Right Container */
.right-container {
    width: 50%;
    background-color: var(--bg-color2);
    color: var(--text-color2);
    margin: 25px 25px 25px 0;
    padding: 80px 40px;
}

.right-container h1 {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3rem;
}

.right-container p {
    margin: 20px 0 40px;
    font-size: .9rem;
    color: var(--form-colors);
}

.right-container img {
    animation: zoomInOut 3s infinite;
}





/* Animation */
@keyframes zoomInOut {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}





/* Responsive Design */
/* Responsive for Laptop Size */
@media screen and (max-width: 1200px) {
    .right-container {
        display: none;
    }

    /* Custom class */
    .container {
        width: 600px;
    }

    /* Left Container */
    .left-container {
        width: 100%;
    }
}

/* Responsive for Tab Size */
@media screen and (max-width: 668px) {

    /* Custom class */
    .container {
        width: 500px;
    }

    /* Left Container */
    .left-container {
        padding: 100px 70px;
    }
}

/* Responsive for Mobile Size */
@media screen and (max-width: 550px) {
    body {
        background-color: var(--white-color);
        display: flex;
        align-items: center;
        height: 100vh;
    }

    /* Custom class */
    .container {
        width: 100%;
        margin: 0;
    }

    .reg-section {
        display: flex;
        background-color: var(--white-color);
        text-align: center;
    }
}